:root {
    --color-bgr: #333333;
    --color-text: white;
    --color-head: burlywood;
}


html, body {
    height: 100%;
}


body {
    font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, Helvetica, sans-serif;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}


h1 {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-head);
}

#side-nav {
    background: var(--color-bgr);
    padding-top: 5px;
    height: auto;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#side-nav ul {
    list-style: none;
    padding: 7px;
    margin: 0;
}

#side-nav li {
    font-size: 1.8rem;
    margin: auto;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 8px;
    cursor: pointer;
}

#side-nav li:hover {
    color: rgba(255, 255, 255, 1.0);
}

#wrapper {
    height: 100%;
    min-width: 800px;
}

#main {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 500px;
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    right: 0;
}

#btn-addproject {
    margin-top: 20px;
}



