#content-buttonset {
    display: inline-block;
    /*margin-bottom: 10px;*/
}

#accordion-wrapper {
    /*height: auto;*/
    position: absolute;
    top: 135px;
    bottom: 22px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#accordion {
    width: 98%;
}

#accordion div h3 {
    cursor: move;
}

#accordion div h3 .ui-icon-close {
    float: right;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
}

.content-icon {
    margin: 0px 10px;
    /*font-size: 20px;*/
}

.preview-source {
    /*width: 50%;*/
    max-width: 50%;
    max-height: 500px;
    margin-right: 20px;
    float: left;
}

.preview-text {
    width: auto;
}

.text-path {
    margin-right: 10px;
}