#content-buttonset {
    display: inline-block;
    /*margin-bottom: 10px;*/
}

#accordion-wrapper {
    /*height: auto;*/
    position: absolute;
    top: 123px;
    bottom: 22px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#accordion {
    width: 98%;
}

#accordion div h3 {
    cursor: move;
}

#accordion div h3 .ui-icon-close {
    float: right;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
}

.content-icon {
    margin: 0px 10px;
    /*font-size: 20px;*/
}

#content-preview {
    /*height: 230px;*/
    /*background-color: red;*/
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.preview-source {
    max-width: 95%;
    max-height: 300px;
}

.text-path {
    /*width: 75%;*/
    margin-right: 10px;
}