#view-header {
    padding-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 500px;  
}

#btn-back-to-main {
    margin-left: 20px;
}

#view-main span {
    font-weight: bold;
    font-family: var(--font-family-view);
    color: var(--color-view-head);      
}

#back-label {
    position: absolute;
    left: 70px;
    top: 15px;
    font-size: 18px;
}

#view-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    text-align: center;
    user-select: none;
}

#view-title span {
    font-size: 38px;
    letter-spacing: 1px;
    display: inline-block;
}

#view-body {
    min-width: 500px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 23px;
    right: 0;
}


#view-front {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    /*background-color: gray;*/
    /*background: #466368;
    background: radial-gradient(#648880, #293f50);*/
    /*background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);*/
    /*background: linear-gradient(to bottom,#6190E8 0%, #a7bfe8 30%, white 50%,  #977b69 51%,   #3a2d24 100%);*/
    background: var(--color-view-bgr);
    /*background: linear-gradient(to bottom,#2F80ED 0%, #56CCF2 30%, white 50%,  #977b69 51%,   #3a2d24 100%);*/
}


#view-front > div {
    display: table-cell;
    vertical-align: middle;
}

#proj-card-wrapper {
    text-align: center;
    /*transform: perspective(100px);*/
    transform: perspective(50px);
    transform-style: preserve-3d;
}

.proj-card {
    width: 400px;
    height: 600px;
    margin: 0 45px;
    background-color: royalblue;
    display: inline-block;
    box-shadow: 0 20px 16px -6px rgba(0, 0, 0, 0.5);
    transition: 0.25s ease-in-out;

    /*transform: perspective(150px) rotateY(-30deg);*/
    
}

.proj-card:hover {
    /*transform: translateY(-16px);*/
    transform: translateZ(5px);
    box-shadow: 0 36px 24px -9px rgba(0, 0, 0, 0.3);
}

.proj-cover {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  background-color: gray;
}

.proj-label {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;;
  background-color: white;
}

.proj-label div {
    width: 100%;
    
    font-weight: bold;
    font-family: var(--font-family-view);
}

.student-name-tag {
    height: 35%;
    padding-top: 15px;
    color: var(--color-student-view);
    font-size: 35px;
}

.proj-name-tag {
    height: 65%;
    /*padding-top: 10px;*/
    color: var(--color-project-view);
    font-size: 25px;
}










.slideshow-group {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--color-bgr);
    /*overflow: hidden;  */
}


.slide-window {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 142px;
    overflow: auto;
}

.slide-data {
    height: 100%;
    background: gray;
    margin: 0 25px;
    flex: 1;
}

.slide-text {
    height: 100%;
    /*background: gray;*/
    padding-right: 25px;
    margin: 0 25px;
    flex: 1;
    overflow-y: auto;
}



.thumb-outer {
    border-top: 2px solid white;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0px;
    white-space: nowrap;
    height: 120px;
    padding-top: 10px;
    overflow-y: hidden;
    /*overflow-x: scroll;*/
    overflow-x: auto;
}

.thumb {
  height: 84px;
  width: 150px;
  margin-right: 15px;
  background: linear-gradient(45deg, rgb(92, 92, 92), rgb(148, 148, 148));
  border: 5px solid #efefef;
  box-shadow: 2px 2px 4px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  display: inline-block;
}

.thumb:hover {
  border: 5px solid rgba(0, 200, 255, 0.8);
}

.thumbImg {
  display: block;
  height: 100%;
  width: 100%;
}






#view-main footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  font-size: 10px;  
  text-align: center;
  color: var(--color-head);
  opacity: 0.5;
}